section {
	.grid-1-green, .grid-2-green {
		.col-md-4, .col-md-8 {
			min-height: 394px;
		}
	}
	.grid-1-red, .grid-2-red {
		.col-md-4 .row .col-12:nth-child(1), .col-md-8 .row .col-12:nth-child(1) {
			min-height: 330px;
			background-color: purple;
		}
		.col-md-4 .row .col-12:nth-child(2), .col-md-8 .row .col-12:nth-child(2) {
			min-height: 310px;
			background-color: yellow;
		}
	}
}

.green-content, .red-content {
	font-family: "Open Sans";
	p, a {
		font-size: 14px;
	}

	.features {
		color: $white;
		padding-top: 44px;
		padding-bottom: 120px;
		.features-item {
			position: relative;
			padding-top: 120px;
			h3 {
				position: relative;
				margin-bottom: 27px;
				img {
					position: absolute;
					bottom: 42px;
					left: 0;
					// height: 40px; sve iste velicine
				}
			}
			p {
				margin-bottom: 40px;
			}
			a {
				position: absolute;
				bottom: 0;
			}
		}
	}

	.grid-1-green, .grid-2-green, .grid-1-red, .grid-2-red {
		.grid-text-inverse {
			h3, p {
				color: $white;
			}
		}
		.grid-text-default {
			h3 {
				margin-top: 33px;
				font-size: 35px;
				color: $green;
				font-weight: 200;

				.small-red-text {
					color: $red;
					font-size: 14px;
					font-weight: 900;
				}
			}
			img {
				margin: 25px 0;
			}
			p {
				line-height: 2;
				color: $body-text;
				margin: 0;
				font-weight: 700;
			}
			a {
				color: $green;
				text-decoration: underline;
				font-weight: 700;
				display: block;
				margin-bottom: 35px;
			}
		}

		.grid-1-green-img, .grid-2-green-img {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			p {
				color: $red;
				position: absolute;
				bottom: 45px;
				span {
					color: $white;
				}
				img {
					width: 20px;
					height: 31px;
					margin: 0 0 0 10px;
				}
			}
		}
		.grid-1-green-img {
			background-image: url("../img/grid-1-green.png");
			p {
				right: 41px;
			}

		}
		.grid-2-green-img {
			background-image: url("../img/grid-2-green.png");
			p {
				left: 41px;
			}
		}
	}
}
