footer {
	.footer-img {
		height: 802px;
		background-color: $red;
		background-image: url("../img/footer-img.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
