.text-uppercase {
	text-transform: uppercase;
}

.bg-red {
	background-color: $red !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-white {
	background-color: $white !important;
}

a, h1, h2, h3, h4, h5, h6 {
	white-space: nowrap;
}
