.text-uppercase {
	text-transform: uppercase;
}

.bg-red {
	background-color: $red !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-white {
	background-color: $white !important;
}

.no-wrap {
	white-space: nowrap;
}

.bonus-padding {
	padding: 60px !important;
}