//user vars
$green: #a2ca28;
$red: #fd634e;
$white: #fff;
$dark-gray-blue: #0d1119;
$steel-blue: #8297a7;
$body-bg: #2e3b4e;

// bootstrap override
// $font-family-sans-serif:
// $font-family-serif:
$headings-color: $white;
$link-color: $white;

$font-size-h1: 24px;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;

$avenir-demi: "font130294";
$avenir-regular: "font123443";
